*{
    box-sizing: border-box;
}
body{
    margin:auto;
    padding:0;
    font-family: "century gothic";
    background-size: 675px;
    /* font-size: 19px; */
}
/*home.php*/
.img .img-thumbnail{
    background: none;
}
.box{
position: absolute;
top: 45%;
left: 50%;
transform: translate(-50%, -50%);
width: 450px;
padding: 35px;
background: rgba(0,0, 0,.8);
box-sizing: border-box;
box-shadow: 0 15px 25px rgba(0, 0, 0,.5);
border-radius: 10px;
}
/*login.php*/
/*login sign*/
.box h2{
    margin: 0 0 30px;
    padding: 0;
    color: #fff;
    text-align: center;   
}
.box .InputBox{
    position: relative;
}
.box .InputBox input{
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    letter-spacing: 1px;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
}
.box .InputBox label{
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 0;
    font-size: 13px;
    color: #fff;
    margin-bottom: 30px;
    pointer-events: none;
    transition: .5s;
}
header .box a{
    display: block;
    width: 100px;
    height: 40px;
    border: none;
    font-family: sans-serif;
    font-size: 12px;
    color: #fff;
    border-radius: 20px;
}
.box .InputBox input:focus ~ label,
.box .InputBox input:valid ~ label{
    top: -18px;
    left: 0;
    color: #03a9f4;
    font-size: 12px;
}
a{
    text-decoration: none;
    color: #03a9f4;
    text-align: rigth;
    padding: 20px;
}
.box input[type="submit"]{
    background: transparent;
    border: none;
    outline: none;
    color: #fff;
    background: #03a9f4;
    padding: 10px 20px;
    cursor: pointer;
    border-radius:5px;
}

header nav ul li a{
    font-family: sans-serif;
    font-size: 18px;
    color: #fff;
    line-height: 6px;
    border: none;
    outline: none;
    background: #03a9f4;
    padding: 10px 30px;
    width: 12%;
    cursor: pointer;
    border-radius: 5px;
}
.main-container{
    padding-top: -100px;
    
}
.main-container h2{
    font-family: sans-serif;
    font-size: 40px;
    color: #03a9f4;
    line-height: 50px;
    text-align: center;
      
}
/*signup.php*/
.signup-form {
    position: absolute;
    top: 100px;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 450px;
    padding: 30px;
    background: rgba(0,0, 0,.8);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0, 0, 0,.5);
    border-radius: 0px;
}

.signup-form {
    position: relative;
}
.signup-form input {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    letter-spacing: 1px;
    margin-bottom: 10px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
}
.signup-form label{
    position: absolute;
    top: 0;
    left: 0;
    padding: 50px 40px;
    font-size: 13px;
    color: #fff;
    margin-bottom: 110px;
    pointer-events: none;
    transition: .5s;
}
.signup-form input:focus ~ label,
.signup-form input:valid ~ label{
    top: -25px;
    left: 0;
    color: #03a9f4;
    font-size: 12px;
}
.signup-form button[type="submit"]{
    background: transparent;
    border: none;
    outline: none;
    color: #fff;
    background: #03a9f4;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}
/* about */
/* section 1 */
.section-1{
    padding: 20vmin 0;
}
.section-1 .row .col-md-6 .pray img{
    opacity: 0.8;
    width:100%;
    border-radius: 0.2m;

}
.section-1 .row .col-md-6:last-child{
    position: relative;
}
.section-1 .row .col-md-6 .panel{
     position: absolute;
     top:7vmin;
     left:-18vmin;
     background: white;
     border-radius: 3px;
     text-align:left;
     padding:13vmin 5vmin 20vmin 10vmin;
    box-shadow:0px 25px 42px rgba(0,0,0,0.2);
}
